body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
}

input {
    width: 250px;
    border: 1px solid red;
    border-radius: 3px;
    margin: 10px;
}

form {
    border: 2px solid black;
    background-color: gray;
}

h1 {
    color: #198791;
    text-shadow: 1px 1px 3px black;
}

.submit {
    width: auto;
    background-color: blue;
    color: white;
}

/* MODAL / LIGHTBOX DESIGN */


.row:after {
    content: "";
    display: table;
    clear: both;
}

/* CREATING 4 COLUMNS THAT FLOAT NEXT TO EACH OTHER */
.column {
    float: left;
    width: 24%;
    padding: 0 .25%;
}

/* THE MODAL (BACKGROUND) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: black;
}

/* MODAL CONTENT */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
}

/* THE CLOSE BUTTON */
.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

/* HIDES SLIDES BY DEFAULT */
.mySlides {
    display: none;
}

/* NEXT AND PREVIOUS BUTTONS */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* POSITION THE NEXT BUTTON TO THE RIGHT */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* ADD SEE-THROUGH BACKGROUND ON HOVER */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,.8);
}

/* NUMBER TEXT */
.numbertext {
    color: #f2f2f2;
    font-size: 22px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    font-weight: bold;
}

/* CAPTION TEXT */
.caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
}

img.demo {
    opacity: .6;
    width: 100%;
    height: 150px;
}

.active, .demo:hover {
    opacity: 1;
}

img.hover-shadow {
    transition: .3s;
    width: 100%;
    height: 200px;
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
}

img.main {
    width: 100%;
}